{% extends 'base.html' %}

{%block title%}Detalhe{%endblock%}

{%block content%}

<h3>{{product.name}}</h3>
<p>
  Preço: {{product.price}}
</p>
<p>
  Descrição
   {{product.description}}
</p>
<p>
  Validade:
  {{product.validate}}
</p>

<button><a style="text-decoration: none;" href="{{product.get_absolute_url_update}}">Atualizar</a></button> 
<button><a style="text-decoration: none;" href="{% url 'core:delete' pk=product.pk %}">Deletar</a></button> 
<button><a style="text-decoration: none;" href="{% url 'core:list'%}">Todos os Produtos</a></button>

{%endblock%}